@import "tailwindcss";
@plugin "daisyui";
body{
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: normal;
}


.fancy-box {
  background-color: rgb(177, 65, 84);
  border-radius: 23% 77% 18% 82% / 70% 27% 73% 30%   ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 5px;
  border-color: black;
  padding: 5px;
}
.fancy2{
  background-color: rgb(255, 196, 0);
  border-radius: 28% 72% 29% 71% / 71% 29% 71% 29% ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 5px;
  border-color: black;
  padding: 5px;
  height: 450px;
  width: 450px;
}
.logo{
  font-family: "Mrs Sheppards", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: rgb(82, 29, 148);
}

